body{
    font-family: 'Helvetica Neue';
    font-size: 12pt;
    color:#f0f6f4;
    background-color:#000000;
    padding:0px;
    margin:0px;

}

div{
    margin:0px;
    padding:0px;
}

#backVideo{
    width:110%;
    height:115%;
    margin:-5% 0% 0% -5%;
}

#logo{
    display:block;
    position:absolute;
    z-index:100;
    background-image:url('images/tmmt_logo.png');
    background-size: 100% 100%;
    width:85px;
    height:105px;
    margin:20px;
    left:0px;
    bottom:0px;
}

#content{
    display:block;
    position:absolute;
    overflow:hidden;
   
}


#backVideoList{
    display:none;
}

#slides{
   height:100%;
   width:100%;
   overflow:visible;
   position:absolute;
   top:0px;
   left:0px;
}

#index{
    position:absolute;
    height:100%;
    width:100%;
}

#insightPlayer{
    display:block;
    height:100%;
    width:100%;
    position:absolute;
    left:1400px;
    background:#000000;
}

	

canvas{
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;

  
}

#overlay{
    position:absolute;
    display:none;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
}

#background{	
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    display:none;
}

#menu{
    width:100%;
    height:100%;
}

.menuItem{
    display:block;
    position:absolute;
    background-repeat:no-repeat;	
    background-position:center top;
    cursor:pointer;
}

#intouch{
    width:250px;
    height:200px;
    top:100px;
    right:50px;
    background-image:url('images/intouch.png');
    background-size:170px 170px;
    display:none;
}


#ongoingon{
    width:190px;
    height:190px;
    left:13%;
    top:18%;
    background-image:url('images/ongoingon.png');
    background-size:100% 100%;
}



#insights{
    position:absolute;
    top:22%;
    left:32%;
    width:500px;
}

.insight{
    width:240px;
    height:135px;
    margin-right:4px;
    margin-bottom:3px;
    display:block;
    position:relative;
    float:left;
    border:solid 1px #aaaaaa;
    overflow:hidden;
    cursor:pointer;
}

video{
    width:100%;
    height:100%;
    background-color:#000000;
    position:absoute;
}

.insight h3{
    width:100%;
    padding:0px;
    margin:5px;
    display:block;
    top:0px;
    left:0px;
    color:#eeeeee;
    font-size:11pt;
    line-height:11pt;
    position:absolute;
}

.controls{
    position:absolute;
    display:block;
    top:0px;
    left:0px;
    width:100% !important;
    height:100% !important;
}

.insight .play{
    display:block;
    position:absolute;
    width:50px;
    height:50px;
    top:50%;
    left:50%;
    margin-left:-25px;
    margin-top:-25px;
    background-image:url('images/play.png');
    background-size:100% 100%;
}

#insightPlayer .controls .play{
    display:block;
    position:absolute;
    width:100px;
    height:100px;
    top:50%;
    left:50%;
    margin-left:-25px;
    margin-top:-25px;
    background-image:url('images/play.png');
    background-size:100% 100%;
    cursor:pointer;
}



#insightPlayer .controls .pause{
  background-image:url('images/pause.png');
}



h1.name{
    font-family: 'Helvetica Neue';
    font-size: 88px;
    line-height:88px;
    font-weight:normal;
    position:absolute;
    display:block;
    left:15%;
    top:40%;
    text-align:center;
    width:900px;
}


#subscribe{
	right:0px;
	bottom:0px;
	position:absolute;
	background:#000000;
	padding:0px 10px 10px 10px;
	visibility:hidden;
}



input{
    font-family:'Helvetica', cursive;
    font-size:10pt;
}

input[type="text"]{
	padding:5px;
	margin:0px;
    display:inline;
    background-color:#eeefef;
    border:none 0px;
    color:#aaaaaa; 
}


input[type="text"]:focus{
    color:#000000;
    border:none 0px;
    background-color:#ffffff;
}

input[type="submit"]{
    color:#eeefef;
    border:solid 1px #FFFFFF;
    padding:5px;
    margin:0px 0px 0px 0px;
    display:inline;
    background-color:#000000;
}


#header{
 width:100%;
 position:absolute;
 height:10px;
 
}

#topBorder{
    background:#000000;
    width:100%;
    height:10px;
}

#bottomBorder{
    background:#000000;
    width:100%;
    height:10px;    
}

#footer{  
 width:100%;
 position:absolute;
 bottom:0px;
}